.footer-container {
  width: 100%;
  background: var(--primary-background-color);
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3rem 1rem 0.5rem;
  flex-direction: column;
}

.footer-row {
  display: flex;
  margin: 0 auto;
  gap: 2rem;
  border-bottom: 2px solid #92400e;
  padding-bottom: 2rem;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
  max-width: 25rem;
}

.footer-column a {
  color: var(--footer-primary-text-color);
  text-decoration: none;
}

.footer-column img {
  height: 3rem;
}

.footer-column p {
  color: var(--footer-primary-text-color);
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 22px;
}

.footer-column h3 {
  color: var(--footer-primary-text-color);
  font-weight: 500;
  line-height: 22px;
}

.footer-column li {
  list-style: none;
  margin-bottom: 8px;
  color: var(--footer-secondary-text-color);
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.social-media {
  display: flex;
  gap: 1rem;
}

.social-icon {
  padding: 0.5rem;
  border-radius: 999px;
  background-color: #92400e;
  display: flex;
}

.footer-divider {
  margin: 1.5rem auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24rem;
}

.footer-divider p {
  font-size: 0.8rem;
  color: var(--footer-secondary-text-color);
}

.footer-divider-policy {
  display: flex;
  gap: 1rem;
}

@media (max-width: 1024px) {
  .footer-row {
    gap: 1rem;
  }
  .footer-content {
    padding: 2rem 0.5rem 0.5rem;
  }
  .footer-divider {
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .footer-row {
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
    padding-bottom: 1rem;
  }
  .footer-content {
    padding: 1.5rem 0.5rem 0.5rem;
  }
  .footer-divider {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .footer-divider-policy {
    flex-direction: row;
    gap: 0.5rem;
    align-items: flex-start;
  }
  .footer-column {
    max-width: 100%;
  }
  .footer-column img {
    height: 2.2rem;
  }
}
