.merchandise-content {
  background: var(--secondary-background-color);
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 70px;
}
.merchandise-title {
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 35px;
  padding-bottom: 20px;
}
.merchandise-des {
  padding-bottom: 40px;
  color: var(--secondary-text-color);
}
.merchandise-products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.merchandise-cart {
  width: calc(100vw / 3.5);
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--button-text-color);
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.merchandise-cart:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}

.merchandise-cart:hover img {
  transform: scale(1.04);
  transition: transform 0.3s ease-in-out;
}

.merchandise-cart-img {
  width: 100%;
  height: 394px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.merchandise-cart-info {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  align-items: start;
}

.merchandise-cart-price {
  font-size: 1rem;
  color: var(--primary-text-color);
  font-weight: bold;
}
.merchandise-cart-name {
  font-size: 20px;
  color: var(--primary-text-color);
  font-weight: bold;
  text-align: left;
}
.merchandise-cart-des {
  color: var(--secondary-text-color);
  font-size: 14px;
  margin: 12px 0;
}

.merchandise-cart-btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
}

.merchandise-cart-btn__detail {
  flex: 1;
  padding: 1rem 0;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
  background: var(--button-view-detail-color);
  color: var(--button-view-detail-text-color);
  text-decoration: none;
}

.merchandise-cart-btn__add {
  flex: 1;
  padding: 1rem 0;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
  background: var(--button-color);
  color: var(--button-text-color);
}

.merchandise-cart-info__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
