.run-time-container {
  width: 100%;
  overflow: hidden;
  position: fixed;
  background-color: var(--primary-text-color);
  bottom: 0;
}

.run-time {
  width: max-content;
  padding: 0.5rem;
  background-color: var(--primary-text-color);
  display: flex;
  align-items: center;
  gap: 4rem;
  animation: scroll-left 40s linear infinite;
  justify-content: center;
}

.run-time p {
  margin: 0;
  color: var(--footer-primary-text-color);
  font-size: 0.8rem;
  font-weight: 500;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
