* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-background-color: linear-gradient(#78350f, #9a3412);
  --secondary-background-color: linear-gradient(#fffbeb, #ffedd5);
  --primary-text-color: #78350f;
  --secondary-text-color: #b45309;
  --footer-primary-text-color: #fef3c7;
  --footer-secondary-text-color: #fde68a;
  --button-text-color: #ffffff;
  --button-color: linear-gradient(#d97706, #ea580c);
  --price-background-color: #f59e0b;
  --border-card-radius: 0.75rem;
  --border-button-radius: 0.5rem;
}

.main-content {
  margin-top: 70px;
}
